@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    background: rgb(81, 189, 216);
    font-family: 'Montserrat', Arial, sans-serif;
}

.box-layout {
    background: #fff;
    max-width: 600px;
    margin: 60px auto 0 auto;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #111;
    text-align: center;
}

.login-box p {
    color: #888;
    margin-bottom: 32px;
    text-align: center;
    font-weight:400;
    font-size: 1rem;
}

.input-group{
    display: flex;
    gap: 5px;
}

.submit-btn button{
    width: 500px;
    height: 40px;
    border-radius: 10px;
}